/* Slides from the left */
.enter {
  animation: enter 1000ms ease-out;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes enter {
  0% {
    transform: translateX(-100vw);
  }
  50% {
    opacity: 0.4;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
  }
}
