h1 {
  position: relative;
  margin-top: 0;
  margin-bottom: 1rem;
  color: black;
  font-weight: 400;
  font-size: 2.6rem;
  letter-spacing: 0.16em;
  line-height: 3rem;
  text-transform: uppercase;
  white-space: nowrap;
}

h2 {
  position: relative;
  color: black;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

body {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 1.5em;
}

a, a:visited {
  position: relative;
  color: black;
  font-size: 1.6rem;
  font-weight: 450;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.15rem;
  transition: color 150ms linear;
}

@media (hover: hover) {
  a:hover {
    /* color: white; */
    color: var(--link-color);
  }
}

ul {
  list-style: none;
}

li {
  margin-bottom: 3rem;
  margin-left: 1.4rem;
}

ul > li::before {
  content: "▶";
  opacity: .6;
  display: inline-block;
  transform: translate(-1.1rem, -.3rem) scale(2);
}
